<p id="notice"><%= notice %></p>

<p>
  <strong>Gymnasium:</strong>
  <%= @program.gymnasium %>
</p>

<p>
  <strong>Day:</strong>
  <%= @program.day %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @program.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @program.end_time %>
</p>

<p>
  <strong>Note:</strong>
  <%= @program.note %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
