<p id="notice"><%= notice %></p>

<main>
  <div class="container">
    <h1>Gymnasia</h1>
    <%= link_to 'New Gymnasium', new_gymnasium_path %>
    <% @gymnasia.each do |gymnasium| %>
      <div class="card my-3">
        <div class="card-header">
          <h2 class="card-title"><%= gymnasium.name %></h2>
        </div>
        <div class="card-body">
          <div>
            <%= image_tag('free_gymnasium.jpg', class: 'img-thumbnail float-left w-50') %>
          </div>
          <div class="">
            <p><%= gymnasium.zip_code %></p>
            <p><%= gymnasium.prefecture.name + gymnasium.city + gymnasium.street %></p>
            <p><%= gymnasium.tell %></p>
            <p><%= gymnasium.url %></p>
            <p><%= gymnasium.access %></p>
            <p><%= gymnasium.court %></p>
          </div>
          <%= link_to 'Show', gymnasium %>
          <%= link_to 'Edit', edit_gymnasium_path(gymnasium) %>
          <%= link_to 'Destroy', gymnasium, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
</main>

