<p id="notice"><%= notice %></p>

<main>
  <div class="container">
    <h1>Gymnasia</h1>
    <%= link_to 'New Gymnasium', new_gymnasium_path %>
    <% @gymnasia.each do |gymnasium| %>
      <div class="card my-3">
        <div class="card-header">
          <h2 class="card-title card-link"><%= link_to gymnasium.name, gymnasium %></h2>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= gymnasium.zip_code %></li>
            <li class="list-group-item"><%= gymnasium.prefecture.name + gymnasium.city + gymnasium.street %></li>
            <li class="list-group-item"><%= gymnasium.tell %></li>
            <li class="list-group-item"><%= gymnasium.url %></li>
            <li class="list-group-item"><%= gymnasium.access %></li>
            <li class="list-group-item"><%= gymnasium.court %></li>
            <li class="list-group-item">
              <% gymnasium.programs.each do |program| %>
                <p><%= t('date.day_names')[program.day] %></p>
                <p><%= program.start_time %><%= program.end_time %></p>
              <% end %>
            </li>
          </ul>
          <%= link_to 'Edit', edit_gymnasium_path(gymnasium) %>
          <%= link_to 'Destroy', gymnasium, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
</main>

