<p id="notice"><%= notice %></p>

<main>
  <div class="container">
    <h1>Gymnasia</h1>
    <%= link_to 'New Gymnasium', new_gymnasium_path %>
    <% @gymnasia.each do |gymnasium| %>
      <div class="card my-3">
        <div class="card-header">
          <h2 class="card-title"><%= gymnasium.name %></h2>
        </div>
        <div class="card-body">
          <div>
            <%= image_tag('free_gymnasium.jpg', class: 'img-thumbnail float-left w-50') %>
          </div>
          <!--          TODO 画像の右側に配置する-->
          <div class="">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= gymnasium.zip_code %></li>
              <li class="list-group-item"><%= gymnasium.prefecture.name + gymnasium.city + gymnasium.street %></li>
              <li class="list-group-item"><%= gymnasium.tell %></li>
              <li class="list-group-item"><%= gymnasium.url %></li>
              <li class="list-group-item"><%= gymnasium.access %></li>
              <li class="list-group-item"><%= gymnasium.court %></li>
            </ul>
            <% gymnasium.programs.each do |program| %>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p><%= program.day %></p>
                  <p><%= program.start_time %><%= program.end_time %></p>
                </li>
              </ul>
            <% end %>
          </div>
          <%= link_to 'Show', gymnasium %>
          <%= link_to 'Edit', edit_gymnasium_path(gymnasium) %>
          <%= link_to 'Destroy', gymnasium, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
</main>

