<p id="notice"><%= notice %></p>

<main>
  <div class="container">
    <div class="search-form">
      <div class="card">
        <div class="card-header">検索</div>
        <div class="card-body">

          <%= form_with(url: gymnasia_path, method: :get, local: true) do |form| %>
            <div class="field">
              <%= form.label :prefecture_id %>
              <%= collection_select(:search, :prefecture_id, Prefecture.all, :id, :name, prompt: true, selected: @search_form&.prefecture_id) %>
            </div>
            <div class="actions">
              <%= form.submit("検索", name: nil) %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
    <h1>Gymnasia</h1>
    <% @gymnasia.each do |gymnasium| %>
      <div class="card my-3">
        <div class="card-header">
          <h2 class="card-title card-link"><%= link_to gymnasium.name, gymnasium %></h2>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= gymnasium.zip_code %></li>
            <li class="list-group-item"><%= gymnasium.prefecture.name + gymnasium.city + gymnasium.street %></li>
            <li class="list-group-item"><%= gymnasium.tell %></li>
            <li class="list-group-item"><%= gymnasium.url %></li>
            <li class="list-group-item"><%= gymnasium.access %></li>
            <li class="list-group-item"><%= gymnasium.court %></li>
            <li class="list-group-item">
              <% gymnasium.programs.each do |program| %>
                <p><%= t('date.day_names')[program.day] %></p>
                <p><%= program.start_time %><%= program.end_time %></p>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</main>

