<p id="notice"><%= notice %></p>


<main>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title"><%= @gymnasium.name %></h2>
      </div>
      <div class="card-body">
        <p>
          <strong>Zip code:</strong>
          <%= @gymnasium.zip_code %>
        </p>
        <p>
          <strong>Prefecture:</strong>
          <%= @gymnasium.prefecture.name %>
        </p>
        <p>
          <strong>City:</strong>
          <%= @gymnasium.city %>
        </p>
        <p>
          <strong>Street:</strong>
          <%= @gymnasium.street %>
        </p>
        <p>
          <strong>Tell:</strong>
          <%= @gymnasium.tell %>
        </p>
        <p>
          <strong>Url:</strong>
          <%= @gymnasium.url %>
        </p>
        <p>
          <strong>Access:</strong>
          <%= @gymnasium.access %>
        </p>
        <p>
          <strong>Court:</strong>
          <%= @gymnasium.court %>
        </p>
        <p>
          <strong>Note:</strong>
          <%= @gymnasium.note %>
        </p>
        <p>
          <strong>Day of the week:</strong>
          <%= render partial: "program", collection: @gymnasium.programs %>
        </p>
        <%= link_to 'Edit', edit_gymnasium_path(@gymnasium) %> |
        <%= link_to 'Back', gymnasia_path %>
      </div>
    </div>
  </div>
</main>

